table {
  table-layout: fixed;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 5px;
}

th {
  background: #eee;
}

th:first-of-type {
  width: 50px;
}

td:first-of-type {
  background: #eee;
}

