table {
  table-layout: auto;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 5px;
}

th {
  background: #eee;
}


td:first-of-type {
  background: #eee;
}

.table-wrapper {
  max-width: 100%;
}

